* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent !important;
  background-color: rgba(0, 0, 0, 0) !important;
  /* Disable Wails window dragging */
  --wails-draggable: none !important;
  -webkit-app-region: no-drag !important;
}